$color-principal:#eeeeeb;
$color-yellow: #dfad65;
$color-black: black;
$color-purple: purple;
$color-blue: blue;
$color-white: white;
$color-peru: peru;
$color-gray-black: rgba(24, 24, 16, 0.753);
$color-red: red;
$color-aqua: aqua;
$color-shadow: rgba(0, 5, 14, 0.753);
$color-light-green: rgba(199, 219, 20, 0.76);
$color-gray: gray;